@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<br/>
<h2>This is Admin Panel</h2>
<br/>

<a class="nav-link" asp-controller="Film" asp-action="GetListAdmin">Film list</a>
<a class="nav-link" asp-controller="Film" asp-action="Create">Create Film</a>