@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - MoviePlex.UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/luxStyle.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/MoviePlex.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="Home" asp-action="Index">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Film" asp-action="Index">Films</a>
                    </li>
                    @* Сделать чтоб показовалось если пользователь Admin *@
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin Panel</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Cinema halls</a>
                            <a class="dropdown-item" asp-controller="Film" asp-action="AdminPanel">Films</a>
                            <a class="dropdown-item" href="#">Sessions</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Mailing</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    @* Сделать чтоб показовалось адекватно когда пользователь зашёл *@
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Register</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @{
            await Html.RenderPartialAsync("_ErrorPartial");
        };

        @RenderBody()
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>